.produtoDescricaoDetalhada {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 91.5%;
    height: auto;
    padding: 32px 0px 32px 8.5%;
}

.produtoDescricaoDetalhada__img {
    width: 462px;
    height: 456px;
}

.produtoDescricaoDetalhada__containerTxt {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    width: 44%;
    height: auto;
    margin-left: 16px;
}

.produtoDescricaoDetalhada__titulo {
    font-size: 42px;
    font-weight: 500;
    color: #464646;
}

.produtoDescricaoDetalhada__subtitulo {
    font-weight: bold;
    color:#464646;
    font-size: 16px;
}

.produtoDescricaoDetalhada__texto {
    color:#464646;
    font-size: 16px;
    text-align: justify;
}


@media only screen and (max-width: 1199px) {
    .produtoDescricaoDetalhada {
        align-items: flex-start;
        padding-bottom: 30px;
        height: auto;
    }

    .produtoDescricaoDetalhada__img {
        width: 280px;
        height: 201px;
    }

    .produtoDescricaoDetalhada__containerTxt {
        width: 62%;
        height: 202px;
    }
}

@media only screen and (max-width: 991px) {
    .produtoDescricaoDetalhada {
        padding-left: 4.5%;
    }
}

@media only screen and (max-width: 767px) {
    .produtoDescricaoDetalhada {
        flex-direction: column;
        height: auto;
        padding: 25px;
        width: 100vw;
        margin-left: -25px;
    }

    .produtoDescricaoDetalhada__img {
        width: 100vw;
        height: auto;
    }

    .produtoDescricaoDetalhada__containerTxt {
        width: 90vw;
        height: auto;
    }
}
